html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
}

body {
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  font-family: var(--font-inter), sans-serif;
  color: var(--color-white);

  background: var(--color-gray-900);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
