.editor-header {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 40px;
  padding-right: var(--default-padding);
  padding-left: var(--default-padding);
  border: 1px solid var(--canvas-border);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);

  background-color: var(--color-zinc-900);
}
