.page {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;

  background-color: var(--color-gray-900);
}

.main {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  width: 100%;
}
