.performance-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  height: 100px;
  padding: var(--default-padding);
  border: 1px dashed var(--canvas-border);
  border-radius: var(--border-radius);

  background-color: color-mix(in oklab, var(--brand-primary) 5%, transparent);
}
